Project/UnityProject/Temp/UnityLockfile
Project/UnityProject/Temp/
Project/UnityProject/obj/Debug/
Project/UnityProject/obj/Debug/Assembly-CSharp.dll
Project/UnityProject/Library/
Project/UnityProject/obj/Debug/UnityVS.UnityProject.CSharp.csproj.FileListAbsolute.txt
Project/UnityProject/Library/metadata/6e/6efdb23488d65b14c85713bfafdace46
Project/UnityProject/Assets/Scripts/Archive/ItemRecord.txt
Project/UnityProject/Assets/Scripts/Archive/ItemRecord.txt.meta
Project/UnityProject/UnityVS.UnityProject.v12.suo
Project/UnityProject/UnityProject-csharp.v12.suo
Project/UnityProject/UnityProject-csharp.sln
Project/UnityProject/UnityProject.sln
Project/UnityProject/Assets/Scripts/Archive/ItemRecord.json
Project/UnityProject/Assets/Scripts/Archive/ItemRecord.json.meta
